@import "collapsible-panel";

body{
  font-family: sans-serif;
}

.cats-navigation{
  a{
    display: inline-block;
    height: 40px;
    text-decoration: none;
    padding: 5px;
    margin: 3px;

    color: #444;
    border: 1px solid #ccc;

    &:hover{
      background: #acf;
      border: 1px solid #cef;
    }

    img{
      vertical-align: middle;
      max-height: 100%;
    }
  }
}

.cats-viewport{
  text-align: center;
  img{
    max-height: 100%;
    max-width: 100%;
  }
}
